@use "@/styles/ohma";

.auctionObjectCollection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    gap:1rem;
    @include ohma.round;
}
