@use "@/styles/ohma";

.auctionObjectCollection {
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    // margin-bottom: 2%;
    // padding: 2%;
    text-align: center;
    // background-color: ohma.$content-color;
    // border: 5px solid black;
    column-gap: 1%; 
    @include ohma.round;
}



@media(min-width: 501px) and (max-width: 900px) and (orientation:landscape){
    .auctionObjectCollection{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media(min-width: 901px) and (max-width: 1300px) and (orientation:landscape){
    .auctionObjectCollection{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media(min-width: 1301px) and (orientation:landscape){
    .auctionObjectCollection{
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}

@media(max-width: 500px) or (orientation: portrait){
    .auctionObjectCollection{
        grid-template-columns: 1fr;
    }
}