@use "@/styles/ohma";

.content {
    text-align: center;
    width: 80%;
    border-radius: 20px;
    padding-block: 2vh;
    margin: auto;
    padding-inline: 1vw;
    @include ohma.neumorphismStatic(ohma.$background-color);
}

.howSaleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    .howSaleList {
        text-align: left;
        list-style-type: decimal;
        margin-left: 20px;
    
        li {
            margin-bottom: 8px;
        }
    }
}


// Make sure this is a standalone class
.nestedhowSaleList {
    list-style-type: lower-alpha;
    margin-left: 30px;
}
.subSection{
    margin-top: 1em;
    font-size: 1.5em;
}

.explainationText { 
    font-size: 1em;
    margin-bottom: 2vh;
}