@use "@/styles/ohma";

.button {
    @include ohma.btn();
    @include ohma.boxShadow;
    // width: 10%;
}

.dropDown {
    @include ohma.dropDown();
    @include ohma.boxShadow;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.sortContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;

    > select, p {
        margin: 0 0.5em;
    }
}

.sidetall {
    margin: 10px;
    font-weight: bold;
}

.container {
    width: 100%;
    margin: auto;
}