$blue:    #007bff;
$slate:   #556a82;
$indigo:  #6610f2;
$purple:  #9C27B0;
$pink:    #e83e8c;
$red:     #E53935;
$orange:  #fd7e14;
$yellow:  #ffd600;
$green:   #28a745;
$teal:    #009688;
$cyan:    #00BCD4;

$white:  #fff;
$gray-100: #F7F8FA;
$gray-150: #F3F4F6;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-650: #67696d;
$gray-700: #495057;
$gray-750: #323A3E;
$gray-800: #212529;
$gray-850: #1F2326;
$gray-900: #1c1c1c;
$black:  #000;


$blue-color-100: hsl(230, 80%, 97%);
$blue-color-200: hsl(230, 80%, 88%);
$blue-color-300: hsl(230, 80%, 80%);
$blue-color-400: hsl(230, 80%, 71%);
$blue-color-500: hsl(230, 80%, 63%);
$blue-color-600: hsl(230, 80%, 54%);
$blue-color-700: hsl(230, 80%, 46%);
$blue-color-800: hsl(230, 80%, 37%);
$blue-color-900: hsl(230, 80%, 28%);



$background-color: $blue-color-100;
$content-color: $gray-700;
$button-color:  $blue-color-100;

$text-color: $gray-900;

$accent-color: $blue-color-800;

$strechgoal-color: $gray-500;