@use "_colors";
@use "_variables";
@use "_fonts";
@use "sass:color";

@mixin round {
    border-radius: variables.$rounding;
    padding: variables.$rounding;
}

@mixin card {
    border-radius: variables.$cardRounding;
    padding: variables.$cardPadding;
}

@mixin boxShadow {
    box-shadow: colors.$gray-700 0 0 10px;
}

@mixin screenMobile {
    @media (max-width: variables.$mobileBreakpoint) {
        @content;
    }
}

@mixin screenLg {
    @media (min-width: calc(variables.$mobileBreakpoint + 1px)) {
        @content;
    }
}

@mixin neumorphism($bg,
    $distance: 12px,
    $blur: 24px,
    $intensity: 12%) {
    background: $bg;

    box-shadow: #{$distance} #{$distance} #{$blur} color-mix(in srgb, $bg, black $intensity),
    -#{$distance} -#{$distance} #{$blur} color-mix(in srgb, $bg, white $intensity);

    &:active, &.is-pressed {
        box-shadow: inset #{$distance} #{$distance} #{$blur} color-mix(in srgb, $bg, black $intensity),
        inset -#{$distance} -#{$distance} #{$blur} color-mix(in srgb, $bg, white $intensity);
    }

}

@mixin btn($color: colors.$button-color) {
    @include neumorphism($color);
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    cursor: pointer;
    border: 1px solid $color;
    transition: all 0.3s;


    &:hover {
        color: colors.$accent-color;
    }


}

@mixin dropDown($color: colors.$button-color) {
    text-align: center;
    text-decoration: none;
    font-size: fonts.$m;
    background: $color;
    padding: 2*variables.$gap;
    margin: variables.$gap;
    color: colors.$black;
    border: 2;
    transition: .5s background;
    border: colors.$gray-700 solid 2px;

    &:hover {
        background-color: color.adjust($color, $lightness: -10%);
        cursor: pointer;
    }

    @include round;
}


@keyframes rotate {
    0% {
        transform: translate(0) rotate(0deg);
    }

    100% {
        transform: translate(250%) rotate(5deg);
    }
}