@use "ohma";

:root {
  --foreground: #171717;
  --hover: rgba(0, 0, 116, 0.774);
  --lightblue: #00c6cf;
  --green: #4CAF50;
  --red: #FF6F61;
  --orange: #FFC107;
  --altgrey: #9E9E9E;
  --titleColor: #f4d9bd;
  
  $text: #0b0c0e;
  $background: #f6f7f9;
  $primary: #ffd500;
  $secondary: #bcb3c2;
  $accent: #64cec5;
}

.old-english {
  font-family: var(--font-english-five), serif;
}

html,
body {
  max-width: 100vw;
  background-color: ohma.$background-color;
  margin:0px;
  padding:0px;
  border:0px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media ((min-width:1024px) or ((max-width:1024px) and (orientation:landscape))) {
  html,body {
    background-size:80vh 80vh;
    background-position: center center;
  }
}
