@use "@/styles/ohma";

.headLine{
    text-align: center;
    margin-block: 1em;
    font-size: 4em;
}
.promoText{
    text-align: center;
    width: 80%;
    margin: auto;
}


.knapp {
    @include ohma.btn();
    @include ohma.boxShadow;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.sidetall {
    margin: 10px;
    font-weight: bold;
}

.container {
    width: 100%;
    margin: auto;
}

.tekst {
    margin: 3%;
    text-align: center;
}



@include ohma.screenMobile{
    .promoText{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: small;
}
}