.logintext {
    display:flex;
    font-size:auto;
    justify-content: center;
    float:right;
  }

.loginbutton {
    display:flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--foreground);
    border-radius: 10px;
    outline:none;
    width: 15vw;
    font-size:2.5vw;
    height: auto;
    float:right;
    justify-content: center;
    cursor:pointer;

}

.loginbutton:hover {
    /* border: solid var(--foreground) 0.2vw; */
    border-radius: 1vw;
    color:var(--hover);
}

.imagecontainer {
    height:6vw;
}

.imagecontainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.bannerLeft .imagecontainer {
    align-items: left;
}
.bannerLeft .imagecontainer img:hover {
    height:4.4vw;
}
.bannerLeft .imagecontainer img:active {
    height:4.4vw;
}
.bannerLeft .imagecontainer {
    cursor:pointer;
}
.headerWrapper {
    padding: 5%;
    margin: 20%;
}

.banner {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-size: 2vw;
    padding: 2vw;
    position:relative;
    height:13vw;
    transition: all 0.3s;
}

.bannerElement {
    flex:1;
}

.bannerLeft {
    justify-content: flex-start;
    width: 10%;
}
.menuIcon {
    background-image: url('https://www.freeiconspng.com/thumbs/menu-icon/menu-icon-24.png');
    // background-image: url('https://omega.ntnu.no/static/8cb2cc79536a03aeaa04.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 2vw;
}
.bannerCenter {
    font-size:5vw;
    flex-basis: 50%;
    justify-content: center;
    text-align:center;
    align-items: center;
}


.bannerCenter:hover {
    color: var(--hover);
}
.bannerRight {
    justify-content: flex-end;
}


.navbar {
    height: 0.1vw;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
    overflow:hidden;
}

.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background: linear-gradient(to right, var(--background) 25%, black 25%, black 75%, var(--background) 75%);
  }

.navbarItems {
    font-family: 'Josefin Sans', sans-serif;
    height:100%;
    padding: 3%;
    font-size: 3vw;
    text-align: center;
    align-items:center;
}

.navbarItems:hover {
    text-decoration: underline;
    color:var(--hover);
    text-underline-offset: 25%;
}

.overlay {   
    height: 100%;
    width: 0;
    max-width:768px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(64,64,64);
    background-color: rgba(64, 64, 64, 1);
    color:white;
    overflow-x: hidden;
    transition: 0.15s linear;
}

.overlayContent {
    position: relative;
    top: 20%;
    width: 40%;
    text-align: left;
    margin-top: 30px;
    margin-left:20%;
  }
  
.overlay a {
    height:auto;
    margin:1vw;
    display:block;
    padding:8px;
    font-size:36px;
    cursor:pointer;
    text-decoration: none;
}
.overlay a:hover, .overlay a:focus {
    color: #adadad;
}
.closebtn {
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 60px;
  }
.closebtn:hover {
    color: grey;
    cursor: pointer;
}
.overlayBackground {
    top:0;
    left:0;
    z-index:1000;
    position:fixed;
    height:100vh;
    background-color: rgba(70, 70, 70, 0.7);
}

@media (min-width:1024px) {
    // .overlay {width:1024px;}
    .bannerCenter {font-size:3vw;}
    .imagecontainer {height:4vw;}
    .bannerLeft .imageContainer:hover {height:2vw;}
    .bannerLeft .imageContainer:active {height:2vw;}
    .loginbutton {font-size:2vw;}
}
