@use "@/styles/ohma";

.imagecontainer {
    display:flex;
    align-items:center;
    height:5vh;
    min-width:10vw;
}


.imagecontainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.banner {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    // padding: 2vw;
    position:relative;
    height:8vh;
    transition: all 0.3s;
}

.bannerElement {
    display:flex;
    justify-content: center;
    text-align:center;
    align-items: center;
}

.bannerLeft {
    justify-content:flex-end;
    align-items: center;
    text-align: center;
    flex-basis: 15%;
    cursor:pointer;
}

.bannerCenter {
    font-size:3vh;
    line-height: 4.5vh;
    flex-basis: 80%;
}

.bannerCenter:hover {
    color: var(--hover);
}
.bannerRight {
    flex-basis:15%;
    justify-content: left;
}

.loginbutton {
    height:8vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    float:center;
    justify-content: center;
    cursor:pointer;

}

.logintext {
    display:flex;
    height:auto;
    font-size:100%;
    height:0;
    overflow:hidden;
    justify-content: center;
    float:right;
    content:"";
  }

.loginbutton:hover {
    color:var(--hover);
}

.navbar {
    display: none;

    @include ohma.screenMobile{
        height:6.5vh;
        font-size:4.5vw;
        width:90%;
        display:flex;
        align-items: center;
        text-align:center;
        justify-content: space-evenly;
        position:fixed;
        left: 1rem;
        top:calc(100dvh - 6.5vh - 1rem);
        background-color: ohma.$content-color;
        @include ohma.round;
        overflow:hidden;
    }
}

.currentPage {
    color: ohma.$accent-color;
}
.notCurrentPage {
    color: white;
}

.navbarItems {
    font-family: 'Josefin Sans', sans-serif;
    padding: 3%;
    text-align: center;
    align-items:center;
    width: 120px;
}

.navbarItems:hover {
    text-decoration: underline;
    color:var(--hover);
    text-underline-offset: 25%;
}

.overlay {   
    height: 100%;
    width: 0;
    max-width:768px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: ohma.$background-color;
    color:  ohma.$text-color;
    overflow-x: hidden;
    transition: 0.15s linear;
}

.overlayContent {
    position: relative;
    top: 20%;
    width: 40%;
    text-align: left;
    margin-top: 30px;
    margin-left:20%;
  }
  
.overlay a {
    height:auto;
    margin:1vw;
    display:block;
    padding:8px;
    font-size:36px;
    cursor:pointer;
    text-decoration: none;
}
.overlay a:hover, .overlay a:focus {
    color: adjust-color(ohma.$text-color, $lightness: -70%);
}
.closebtn {
    position: absolute;
    top: 30px;
    right: 35px;
    font-size: 60px;
  }
.closebtn:hover {
    color: grey;
    cursor: pointer;
}
.overlayBackground {
    top:0;
    left:0;
    z-index:1000;
    position:fixed;
    height:100vh;
    background-color: rgba(70, 70, 70, 0.7);
}

@media (min-width:1024px) or ((max-width:1024px) and (orientation:landscape)) {
    .banner {padding:0;height:14.4vh;}
    .bannerCenter {height:14.4vh;font-size:6vh;line-height: 7.5vh;}
    .imagecontainer {height:8vh;}
    .bannerLeft {height:14.4vh;min-width:10%;}
    .bannerLeft .imageContainer:hover {height:2vw;}
    .bannerLeft .imageContainer:active {height:2vw;}
    .loginbutton {font-size:2vw;height:14.4vh;}
    .navbar {height:1.5px;content:"";}
    .logintext {height:5vh;font-size:3vh;}
}
