.loginbtn {
  background-color: orange;
  border: 3px solid rgb(195, 126, 0);
  border-radius: 10px;
  color: black;
  font-size: medium;
  outline:none;
  width: 20vw;
  height: 5vh;
  text-align: center;
}

.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  /* align-items: center; */
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  /* margin-top: 10vw; */
  /* gap: 64px; */
  font-family: var(--font-geist-sans);

  background-image: url('https://omega.ntnu.no/static/8cb2cc79536a03aeaa04.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 70vh 70vh;
  @media (max-width: 1024px) {
    background-size: 40vh 40vh;
  } 
}

