.page {
  justify-items: center;
  min-height: 85.5vh;
  font-family: var(--font-geist-sans);
  width:100%;
  margin-bottom: 8.67vh;
}
.errorPage {
  width: 100%;
  height:85.5vh;
  padding:10vw;
  background-color: var(--lightblue);
  overflow:hidden;
}
.error404 {
  padding-bottom:5vw;
  color:var(--foreground);
  font-size: 25vw;
  text-align: center;
}
.errorText {
  text-align:center;
}
@media ((min-width:1024px) or ((max-width:1024px) and (orientation:landscape))) {
  .page {min-height:85.5vh;background-size: 70vw 70vw;}
  .errorPage {padding:2vw;height:85.5vh;}
  .error404 {padding-bottom: 3vw;}
}



.mainDivStat{
  width: 80%;
  margin: auto;
}
.statTitle{
  text-align: center;
  margin-block: 1em;
}
.answerButtonsDiv{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}


.buttonDivsAnswer{
  width: 100%;
}


.questionButton{
  font-size: 3em;
  width: 100%;
}