.loginbtn {
  background-color: orange;
  border: 3px solid rgb(195, 126, 0);
  border-radius: 10px;
  color: black;
  font-size: medium;
  outline:none;
  width: 20vw;
  height: 5vh;
  text-align: center;
}

.relative {
  position:relative;
}

.logocontainer {
  position:absolute;
  justify-content: center;
  align-items: center;
  top:100%;
  display: flex;

  height:auto;
  padding: 2rem 0;
}

.logobackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50%;
  width: 40vw;
  height:auto;
  padding: 5%;
  width:100%;
  height:auto;
}

.logobackground img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}



.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  margin-top: 10vw;
  gap: 64px;
  font-family: var(--font-geist-sans);

  background-image: url('https://omega.ntnu.no/static/8cb2cc79536a03aeaa04.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top; 
  background-size: 70vw 70vw;
}

