@use "@/styles/ohma";


.titleCard {
    // background-color: var(--titleColor);
    width: 80%;
    padding-top: 10vh;
    padding: 5vh;
    text-align: center;
    margin: auto;
    margin-block: 5vh;
    font-size: 4vw;
    border-radius: 20px;
    @include ohma.neumorphismStatic(ohma.$background-color);
}

.tekst {
    width: 70%;
    margin: auto;
    margin-block: 2em;
    font-size: 2vw;
}

.image {
    width: 100%;
}

.underTittle {
    font-size: 4vw;
}

.underSrkiftTekst {
    font-size: 1vw;
}

.picHolder {
    width: 80%;
    margin: auto;
}

.linkToWb {
    font-size: 1vw;
    color: blue;
}


@include ohma.screenMobile {
    .tekst {
        font-size: 0.8em;
        margin-block: 1em;
        width: 90%;
    }

    .linkToWb {
        font-size: 1em;
        color: blue;
    }

    .underSrkiftTekst {
        font-size: 0.5em;
    }
}