// body{
//     /* background-color: aliceblue; */
//     background-color: #a0e5de;
// }

.ja{
    background-color: lightgreen;
}

.nei{
    background-color: red;
}



#topBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #0096D1;
    margin: -10px;
    padding: 0%;
}

/* #topBar>div{
    border: maroon solid 4px;
    background-color: chartreuse;
} */


#tittelDiv{
    justify-self: center;
    align-self: center;
}

#logo{
    width: 20%;
    /* height: 10%; */
    justify-self: end;
    align-self: center;
    margin-right: 3em; 
    margin-top:calc(1em*0.5);
}


#logoBilde{
    width: 5em; 
    /* height: 1em; */
    /* border: 10px brown solid;*/

}







#hjemDiv{
     
     justify-self: start;  
     align-self: center; 
}
#hjemBoks{
    padding: 1em 2em;  
    margin: 2em; 
    background-color: #e99b26;
    text-decoration: none;
    color: black;
}


#artikkler{
    display: grid;
    margin: 5%;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */

}

@media(min-width: 701px){
    #artikkler{
        grid-template-columns: 1fr 1fr;
        /* background-color: blue; */
        }
        .artikkel{
            margin: 4%;
            /* border-radius: calc(1em / 0.8); */
            border: 3px gray solid;
            /* padding: 4%; */
            border-collapse: collapse;
        }
        .artikkel>img{
            width: 80%;
            margin: 5% 10% 0% 10%;
            /* border: 1% gray solid; */
            /* border-radius: 1em 1em 0px 0px; */
        }
        
        .artikkel>h2{
            text-align: center;
        }
        .artikkel>p{
            margin: 4%;
        }
        > hr{
            margin: 1%;
        }
}


@media(max-width: 700px){
    #artikkler{
    grid-template-columns: 1fr;
    /* background-color: blue; */
    }
    .artikkel{
        margin: 4%;
        border-radius: calc(1em / 0.8);
        border: 3px gray solid;
        /* padding: 4%; */
        border-collapse: collapse;
    }
    .artikkel>img{
        width: 100%;
        /* border: 1% gray solid; */
        border-radius: 1em 1em 0px 0px;
    }
    
    .artikkel>h2{
        text-align: center;
    }
    .artikkel>p{
        margin: 4%;
    }
    > hr{
        margin: 1%;
    }
}



// a{
//     text-decoration: none;
//     color: black;
//     background-color: white;
// }