.auctionList {
    // padding: 0 5%;
    padding-top:5%;
    padding-bottom:20%;
    width:85vw;
    opacity:1;
    font-size:large;
}
.listTitle {
    text-align: center;
}
.list{
    display:flex;
    flex-direction:column;
    align-items:center;
    list-style-position: inside;
    list-style-type: none;
    justify-content:center;
    border: 0 solid var(--altgrey);
    border-width: 0 1px;

}


.item {
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    line-height:2em;
    height:3em;
    // border-top:3px var(--green) solid;
    // background: var(--background);
    padding: 2em 0;
    width:80%;
    overflow-y: hidden;
    overflow-x:hidden;
    text-align: center;

    border: 0 solid var(--altgrey);
    border-width: 1px 0 0 0;
}
.itemwrapper {
    width:100%;
    // margin: 1em;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;

}

.name{
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden; /* Hides any text that overflows the container */
    text-overflow: ellipsis; /* Shows "..." when text is too long */
    flex-basis:45%;
}
.bulletPoint {
    content:"";
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 50%;
    height:1.5em;
    width:1em;
    flex-basis: 10%;;
}
.highestBid {
    background-color: var(--green);
}
.notHighestBid {
    background-color: var(--red);
}
.signoutbutton{
    font-size:large;

    cursor:pointer;
    height: 3em;
    width:10em;
    line-height:3em;
    border-radius:0.5em;
    text-align: center;

    background-color: var(--foreground);
    color: var(--background);
}

@media ((min-width:1024px) or ((max-width:1024px) and (orientation:landscape))) {
    .list{
        flex-direction: row;
        flex-wrap: wrap;
    }
}