.listTitle {
    text-align: center;
}
.list{
    display:flex;
    flex-direction:column;
    list-style-position: inside;
    list-style-type: none;
    padding-left:0;
    flex-wrap:wrap;
    justify-content:center;
}
.signoutbutton{
    font-size:large;

    cursor:pointer;
    height: 3em;
    width:10em;
    line-height:3em;
    border-radius:0.5em;
    text-align: center;

    background-color: var(--foreground);
    color: var(--background);
}

.item {
    line-height:2em;
    height:3em;
    border-top:3px var(--green) solid;
    background: var(--background);
    padding: 0.5 0;
    min-width:10em;
    max-width: 15em;
    overflow-y: hidden;
    overflow-x:hidden;
    text-align: center;
}
.itemwrapper {
    margin: 1em;
}


@media ((min-width:1024px) or ((max-width:1024px) and (orientation:landscape))) {
    .list{
        flex-direction: row;
    }
}