.titleCard {
    background-color: var(--titleColor);
    width:100%;
    padding-top:10vh;
    padding:5vh;
    text-align:center;
}
.overskrift {
    color: rgb(236, 28, 236);
    text-decoration:underline;
}

.bar {
   rotate: 90deg;
}