@use "@/styles/ohma";

.titleCard {
    width:100%;
    padding-top:10vh;
    padding:5vh;
    text-align:center;
}

.tekst {
    font-size: 3vw;
}

.overskrift {
    color: rgb(0, 0, 0);
    font-size: 5vw;
    font-weight: 300;

    //margin rundt overskriften. burde nok justeres. 
    margin-top: 1%;
    margin-bottom: 1%;
}

.pengerOverskrift{
    font-size: 2vw;
}
.graf {
    width: 80%;
    min-height: 250px;
    margin: 4%; 
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


}



@media(orientation:portrait){
    .overskrift {
        font-size: 7vw;
    }

    .sum{
        font-size: 7vw;
    }

    .gjennomsnitt {
        font-size: 5vw; 
    }

    .tekst {
        font-size: 5vw;
    }

    .graf {
        width: 70%;
        
    }

    .pengerOverskrift{
        font-size: 4vw;
    }

    .tekstboks{
        font-size: 5vw;
    }

    .antall{
    padding: 15%;
    padding-inline: 25%;    
    }

    .gjennomsnitt{
    padding: 15%;
    padding-inline: 25%;      
    }

}

.paragraf{
    color:black;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 5;
    background: white;
    border: 2px outset ;
    padding: "20px"; 

}

.bla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;

    justify-items: center; //sentrerer
    margin-bottom:500px;
    margin: 5%;
    
  }

.side{
    width: 90%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
    margin-top: 50px;     //margin til Omegaauksjon, nederste svarte strek
    border-radius: 20px;
    margin-bottom: 100px;
}

.sum{
    width: 70%;                      /* Setter bredden til 80% av viewportens bredde */
    margin: 0 auto;                   /* Sentrerer elementet horisontalt på skjermen */                                              
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    font-size: 10vw;
    font-family: roboto;
    background-color: ohma.$blue-color-300;
    

    
    margin-top: 2%;     //margin til Omegaauksjon, nederste svarte strek
    margin-bottom: 20px ;
}

///* Forstørrer boksen når du hover over */
.sum:hover {
    transform: scale(1.01); /* Forstørrer boksen når du hover over */
  }

.sumContainer {
    display: flex;
    flex-direction: column;
    
}

.dataContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 2%;
    margin-bottom: 30px;

}

// .antallContainer {
//     display: flex;
//     flex-direction: column;
//     justify-content: end;
//     align-items: center;
//     width: 40%; /* Adjust width to be similar to the previous div */
//     margin-bottom: 0;
//     padding-bottom: 0;
    
// }

.gjennomsnittContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 40%; /* Adjust width to be similar to the previous div */
    margin-bottom: 0;
    padding-bottom: 0;
    //margin: auto;
}

.tekstboks{
    font-size: 5vw;
}

//antall objekter.......................................................................
// .antall {
//     background-color: #bcb3c2;
//     font-size: 3vw; /* Increase font size for larger text */
//     padding: 7%;
//     padding-inline: auto;
//     //font-family: roboto;
//     margin-top: 2%; 
// }

.antall:hover {
    transform: scale(1.01); /* Forstørrer boksen når du hover over */
  }

//gjennomsnitsspris------------------------------------------------------------------------
.gjennomsnitt {
    background-color: #bcb3c2;
    font-size: 3vw; /* Increase font size for larger text */
    padding: 7%;
    padding-inline: auto;
    margin-top: 2%;
    width: 70%;
    //font-family: roboto;
}

.gjennomsnitt:hover {
    transform: scale(1.01); /* Forstørrer boksen når du hover over */
}

.grafoverskrift {
    font-size: 3vw;
    margin-top: 2%;
    margin-bottom: 1%;
}
