@use "@/styles/ohma";



.submitButton{
    @include ohma.btn();
    height: 3rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
}
.delete{
    @include ohma.btn(rgb(255, 232, 232));
    height: 3rem;
    display: block;
    margin: auto;
    margin-top: 1rem;
}
.heading{
    text-align: center;
    font-size: 4rem;
}

.infoText{
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
}

.sumField{
    font-size: 3rem;
    display: block;
    margin: auto;
}